
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
	overflow: hidden;
  }
h2 {
	color: rgb(110, 199, 226);
}
p {
	color: rgb(110, 199, 226);
}
  
  .stars {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	transform: rotate(-45deg);
  }
  
  .star {
	--star-color: white;
	--star-tail-length: 6em;
	--star-tail-height: 2px;
	--star-width: calc(var(--star-tail-length) / 6);
	--fall-duration: 9s;
	--tail-fade-duration: var(--fall-duration);
	position: absolute;
	top: var(--top-offset);
	left: 0;
	width: var(--star-tail-length);
	height: var(--star-tail-height);
	color: var(--star-color);
	background: linear-gradient(45deg, currentColor, transparent);
	border-radius: 50%;
	filter: drop-shadow(0 0 6px currentColor);
	transform: translate3d(104em, 0, 0);
	animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
	.star {
	  animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
	}
  }
  .star:nth-child(1) {
	--star-tail-length: 5.71em;
	--top-offset: 7.32vh;
	--fall-duration: 9.159s;
	--fall-delay: 2.443s;
  }
  .star:nth-child(2) {
	--star-tail-length: 5.28em;
	--top-offset: 26.34vh;
	--fall-duration: 10.126s;
	--fall-delay: 5.843s;
  }
  .star:nth-child(3) {
	--star-tail-length: 5.72em;
	--top-offset: 41.42vh;
	--fall-duration: 8.12s;
	--fall-delay: 4.672s;
  }
  .star:nth-child(4) {
	--star-tail-length: 5.27em;
	--top-offset: 42.86vh;
	--fall-duration: 8.815s;
	--fall-delay: 7.084s;
  }
  .star:nth-child(5) {
	--star-tail-length: 6.22em;
	--top-offset: 41.59vh;
	--fall-duration: 8.58s;
	--fall-delay: 2.812s;
  }
  .star:nth-child(6) {
	--star-tail-length: 5.46em;
	--top-offset: 0.17vh;
	--fall-duration: 9.419s;
	--fall-delay: 7.084s;
  }
  .star:nth-child(7) {
	--star-tail-length: 6.2em;
	--top-offset: 30.09vh;
	--fall-duration: 8.38s;
	--fall-delay: 5.011s;
  }
  .star:nth-child(8) {
	--star-tail-length: 5.62em;
	--top-offset: 56.71vh;
	--fall-duration: 10.308s;
	--fall-delay: 6.438s;
  }
  .star:nth-child(9) {
	--star-tail-length: 6.97em;
	--top-offset: 97.82vh;
	--fall-duration: 11.657s;
	--fall-delay: 2.156s;
  }
  .star:nth-child(10) {
	--star-tail-length: 5.87em;
	--top-offset: 87.61vh;
	--fall-duration: 11.968s;
	--fall-delay: 9.353s;
  }
  .star:nth-child(11) {
	--star-tail-length: 6.59em;
	--top-offset: 1.32vh;
	--fall-duration: 6.724s;
	--fall-delay: 8.367s;
  }
  .star:nth-child(12) {
	--star-tail-length: 6.69em;
	--top-offset: 38.52vh;
	--fall-duration: 11.807s;
	--fall-delay: 2.493s;
  }
  .star:nth-child(13) {
	--star-tail-length: 5.5em;
	--top-offset: 39.61vh;
	--fall-duration: 6.216s;
	--fall-delay: 4.701s;
  }
  .star:nth-child(14) {
	--star-tail-length: 5.69em;
	--top-offset: 19.36vh;
	--fall-duration: 6.117s;
	--fall-delay: 8.52s;
  }
  .star:nth-child(15) {
	--star-tail-length: 6.57em;
	--top-offset: 63.48vh;
	--fall-duration: 7.476s;
	--fall-delay: 1.31s;
  }
  .star:nth-child(16) {
	--star-tail-length: 6.01em;
	--top-offset: 78.65vh;
	--fall-duration: 6.665s;
	--fall-delay: 5.96s;
  }
  .star:nth-child(17) {
	--star-tail-length: 6.05em;
	--top-offset: 21.98vh;
	--fall-duration: 11.253s;
	--fall-delay: 5.182s;
  }
  .star:nth-child(18) {
	--star-tail-length: 5.58em;
	--top-offset: 2.23vh;
	--fall-duration: 7.792s;
	--fall-delay: 8.065s;
  }
  .star:nth-child(19) {
	--star-tail-length: 6.83em;
	--top-offset: 0.74vh;
	--fall-duration: 7.124s;
	--fall-delay: 6.088s;
  }
  .star:nth-child(20) {
	--star-tail-length: 6.29em;
	--top-offset: 5.23vh;
	--fall-duration: 9.451s;
	--fall-delay: 7.467s;
  }
  .star:nth-child(21) {
	--star-tail-length: 7.1em;
	--top-offset: 7.38vh;
	--fall-duration: 11.423s;
	--fall-delay: 6.669s;
  }
  .star:nth-child(22) {
	--star-tail-length: 6.87em;
	--top-offset: 71.35vh;
	--fall-duration: 6.803s;
	--fall-delay: 6.322s;
  }
  .star:nth-child(23) {
	--star-tail-length: 7.25em;
	--top-offset: 81.73vh;
	--fall-duration: 9.401s;
	--fall-delay: 4.111s;
  }
  .star:nth-child(24) {
	--star-tail-length: 5.02em;
	--top-offset: 50.13vh;
	--fall-duration: 8.929s;
	--fall-delay: 8.016s;
  }
  .star:nth-child(25) {
	--star-tail-length: 5.93em;
	--top-offset: 11.73vh;
	--fall-duration: 8.188s;
	--fall-delay: 0.825s;
  }
  .star:nth-child(26) {
	--star-tail-length: 7.44em;
	--top-offset: 21.8vh;
	--fall-duration: 11.468s;
	--fall-delay: 3.387s;
  }
  .star:nth-child(27) {
	--star-tail-length: 6em;
	--top-offset: 22.8vh;
	--fall-duration: 11.129s;
	--fall-delay: 0.13s;
  }
  .star:nth-child(28) {
	--star-tail-length: 6.91em;
	--top-offset: 32.03vh;
	--fall-duration: 8.498s;
	--fall-delay: 0.289s;
  }
  .star:nth-child(29) {
	--star-tail-length: 6.6em;
	--top-offset: 59.97vh;
	--fall-duration: 10.022s;
	--fall-delay: 8.834s;
  }
  .star:nth-child(30) {
	--star-tail-length: 5.72em;
	--top-offset: 35.6vh;
	--fall-duration: 10.937s;
	--fall-delay: 0.812s;
  }
  .star:nth-child(31) {
	--star-tail-length: 6.58em;
	--top-offset: 14.1vh;
	--fall-duration: 7.192s;
	--fall-delay: 4.56s;
  }
  .star:nth-child(32) {
	--star-tail-length: 6.75em;
	--top-offset: 0.28vh;
	--fall-duration: 6.431s;
	--fall-delay: 0.045s;
  }
  .star:nth-child(33) {
	--star-tail-length: 7.29em;
	--top-offset: 8.54vh;
	--fall-duration: 7.635s;
	--fall-delay: 2.363s;
  }
  .star:nth-child(34) {
	--star-tail-length: 5.45em;
	--top-offset: 87.38vh;
	--fall-duration: 6.473s;
	--fall-delay: 0.809s;
  }
  .star:nth-child(35) {
	--star-tail-length: 6.49em;
	--top-offset: 0.33vh;
	--fall-duration: 9.576s;
	--fall-delay: 8.248s;
  }
  .star:nth-child(36) {
	--star-tail-length: 5.98em;
	--top-offset: 7.6vh;
	--fall-duration: 9.754s;
	--fall-delay: 7.272s;
  }
  .star:nth-child(37) {
	--star-tail-length: 5.19em;
	--top-offset: 24.39vh;
	--fall-duration: 10.144s;
	--fall-delay: 8.355s;
  }
  .star:nth-child(38) {
	--star-tail-length: 6.76em;
	--top-offset: 41.79vh;
	--fall-duration: 10.803s;
	--fall-delay: 1.342s;
  }
  .star:nth-child(39) {
	--star-tail-length: 7.04em;
	--top-offset: 37.96vh;
	--fall-duration: 10.636s;
	--fall-delay: 2.642s;
  }
  .star:nth-child(40) {
	--star-tail-length: 6.52em;
	--top-offset: 34.5vh;
	--fall-duration: 8.235s;
	--fall-delay: 7.353s;
  }
  .star:nth-child(41) {
	--star-tail-length: 6.17em;
	--top-offset: 52.21vh;
	--fall-duration: 9.771s;
	--fall-delay: 1.047s;
  }
  .star:nth-child(42) {
	--star-tail-length: 5.86em;
	--top-offset: 12.84vh;
	--fall-duration: 10.305s;
	--fall-delay: 1.863s;
  }
  .star:nth-child(43) {
	--star-tail-length: 6.92em;
	--top-offset: 94.41vh;
	--fall-duration: 11.515s;
	--fall-delay: 4.317s;
  }
  .star:nth-child(44) {
	--star-tail-length: 7.05em;
	--top-offset: 28.29vh;
	--fall-duration: 9.087s;
	--fall-delay: 3.307s;
  }
  .star:nth-child(45) {
	--star-tail-length: 7.14em;
	--top-offset: 46.08vh;
	--fall-duration: 7.058s;
	--fall-delay: 9.348s;
  }
  .star:nth-child(46) {
	--star-tail-length: 7.46em;
	--top-offset: 72.08vh;
	--fall-duration: 9.951s;
	--fall-delay: 1.448s;
  }
  .star:nth-child(47) {
	--star-tail-length: 5.83em;
	--top-offset: 0.26vh;
	--fall-duration: 7.798s;
	--fall-delay: 3.788s;
  }
  .star:nth-child(48) {
	--star-tail-length: 5.57em;
	--top-offset: 86.86vh;
	--fall-duration: 6.838s;
	--fall-delay: 5.949s;
  }
  .star:nth-child(49) {
	--star-tail-length: 5.79em;
	--top-offset: 11.53vh;
	--fall-duration: 9.694s;
	--fall-delay: 3.292s;
  }
  .star:nth-child(50) {
	--star-tail-length: 5.22em;
	--top-offset: 16.77vh;
	--fall-duration: 7.71s;
	--fall-delay: 9.923s;
  }
  .star::before, .star::after {
	position: absolute;
	content: "";
	top: 0;
	left: calc(var(--star-width) / -2);
	width: var(--star-width);
	height: 100%;
	background: linear-gradient(45deg, transparent, currentColor, transparent);
	border-radius: inherit;
	animation: blink 2s linear infinite;
  }
  .star::before {
	transform: rotate(45deg);
  }
  .star::after {
	transform: rotate(-45deg);
  }
  
  @keyframes fall {
	to {
	  transform: translate3d(-30em, 0, 0);
	}
  }
  @keyframes tail-fade {
	0%, 50% {
	  width: var(--star-tail-length);
	  opacity: 1;
	}
	70%, 80% {
	  width: 0;
	  opacity: 0.4;
	}
	100% {
	  width: 0;
	  opacity: 0;
	}
  }
  @keyframes blink {
	50% {
	  opacity: 0.6;
	}
  }